@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PolicyName"];
    Layout = "_Layout";
}

<div class="container">
    <img src="https://bugaga.ru/uploads/posts/2016-12/1481556652_kot-volshebnik-8.jpg"></img>
</div>

